:root{
	--primary:#202020;
	--secondary:#c0aa83;
	--white:#ffffff;
	--black:#000000;
	--red:#ff0000;
	--grey:#f4f4f4;
	--darkgrey:#2f2f2f;
	--lightblue:#f6f6f6;
	--font:'kanit';
	--gutter-width:12px;
}
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	list-style-type:none;
	text-decoration:none;
	font-family:var(--font);
}
section{
	padding:60px 0;
}
.w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
	padding:0 var(--gutter-width);
}
.row{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items: center;
}
.container{
	max-width:1540px;
	margin:0 auto;
}
html{
	scroll-behavior: smooth;
}
img{ 
	max-width:100%;  
	display:block;
}
hr{
	opacity:0.1;
}
/* header section starts */
header{
	position:absolute;
	padding:20px;
	width:100%;
	z-index:1000;
	padding-top: 30px;
}
.logo{
	width:200px;
	height:62px;
	cursor: pointer;
}
header .menu ul li{
	position:relative;
	padding:15px;
	margin:auto;
}
header .menu ul li a{
	color: var(--white);
	font-weight:700;
	font-size:18px;
}
header .menu ul li:hover a{
	color: var(--secondary);
	transition: all 0.5s linear;
}
header .menu ul li .menu-item::after{
	content:"\f105";
	font-family:fontAwesome;
	color: var(--white);
	font-size:12px;
	position:absolute;
	right:3px;
	top:24px;
}
header .menu ul li:hover .menu-item::after{
	color: var(--secondary);
	transform:rotate(90deg);
	transition: all 0.5s linear;
}
header .menu ul .nav-link .dropdown li{
	padding:15px;
	margin: 0 50px;
}
header .menu ul .nav-link .dropdown li:hover{
	color:var(--secondary);
}
header .menu ul .nav-link:hover .dropdown{
	display: block;
}
header .menu ul .nav-link{
	transition: all 5s linear;
}
.dropdown{
	background-color: var(--white);
	position:absolute;
	display: none;
	top: 50px;
}
.cart-no{
	position:relative;
	font-size:18px;
	margin-left: 60px;
}
header .menu ul li .cart-no::before {
	position:absolute;
	content:"0";
	color:var(--white);
	background-color:var(--red);
	border-radius:50%;
	height:20px;
	width:20px;
	top:4px;
	font-size:14px;
	font-weight:400;
	text-align:center;
	left:-35px;
}
header .menu ul li .maginfy-glass{
	padding: 15px 0;
}
header a .fa-solid{
	color:var(--white);
	font-size:14px;
}
header a .fa-solid:hover{
	color: var(--secondary);
	transition:all 0.2s linear;
}
header .menu .bar{
	display: none;
}
/* header section end */
/* main banner start */
.main-banner{
	background-image:url("../images/bgimg.png");
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
	height:100vh;
	max-width:100%;
	/* position:relative; */
}
.main-banner .title img{
	display: block;
	max-width:100%;
}
.main-banner .m-btn a{
	padding:8px 36px;
	color:var(--white);
	background-color:var(--secondary);
	font-size:16px;
	font-weight: 600;
	border: 1px solid transparent;
	cursor: pointer;
	transition:all 0.5s linear;
}
.main-banner .m-btn a:hover {
	background-color:var(--white);
	color:var(--black);
	border:1px solid var(--black);
}
.wave{
	position:absolute;
	width:100%;
	bottom:0px;
	left:0;
}
/* main banner end */
/* about section starts */
.about .row .con-left{
	background-image:url("../images/about-bg.png");
	background-size:auto;
	background-repeat:no-repeat;
	background-position:center;
}
.about .row .con-left .subtitle{
	font-size:24px;
	font-weight:700;
	color:var(--secondary);
}
.about .row .con-left .title{
	font-weight:bolder;
	font-size:60px;
	color:var(--black);
}
.about .row .con-left p{
	padding:60px 0;
	font-size:24px;
	font-weight: 300;
	word-spacing: 5px;
	line-height: 36px;
}
.about .row .con-left .sign{
	padding:30px 0;
}
.about .row .con-right .a-card{
	padding-bottom:50px;
}
.about .row .con-right .a-card .a-icon{
	padding-bottom:20px;
}
.about .row .con-right .a-card .card-title{
	font-size:24px;
	font-weight:bold;
	line-height:44px;	
}
.about .row .con-right .a-card .card-dis{
	font-size:14px;
	font-weight: 200;
	padding:10px 0;
}
/* about section ends */
/* product section start */
.products{
	background-color:var(--primary);
} 
.products .title p{
	font-size:24px;
	font-weight:700;
	color:var(--secondary);
	padding-bottom:16px;
	position: relative;
	z-index:1;
	margin-bottom: -36px;
}
.products .title span{
	font-size:50px;
	font-weight:700;
	position:relative;
	z-index:0;
	color:var(--white);
}
.products .title span::after{
	content:"Products";
	font-size:200px;
	font-weight:700;
	color:var(--darkgrey);
	position:absolute;
	z-index:-1;
	top:-130px;
	left:-240px;	
}
.products .title ul{
	padding: 40px 0;
	position: relative;
	z-index: 1;}

.products .title ul li a{
	color: var(--white);
	padding-right: 25px;
	font-size: 18px;
    font-weight: 600;
	cursor: pointer
}
.products ul li a:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	color: var(--secondary);
}
.products .row .p-card{
	background-color:var(--white);
	padding:20px 0;
}
.products .row .p-card h3{
	font-size:24px;
	font-weight:700;
}
.products .row .p-card:hover h3{
	color:var(--secondary);
	transition: all 1s linear;
}
.products .row .p-card img{
	margin:auto;
}
.products .row .p-card p{
	padding:20px 0;
}
.products .row .p-card .h3-pa h3{
	padding:15px 0;
}
.products .row .p-card .h3-pa h3{
	padding:20px 0;
	font-size:24px;
	color:var(--secondary);
}
del{
	text-decoration: line-through;
	font-weight: 300;
	color: #8a8a8a;
}
.products .p-card .p-card-btn{
	padding:0px 0 20px 0;
}
.products .p-card .p-card-btn a{
	padding:8px 36px;
	color:var(--white);
	background-color:var(--secondary);
	font-size:18px;
	font-weight: 600;
	transition:all 0.5s linear;
}
.products .p-card .p-card-btn a:hover {
	background-color:var(--black);
	color:var(--white);
}
.products .p-card .p-card-btn a i{
	margin-right: 10px;
	font-size: 18px;
}
.products .p-btn{
	padding:80px 0 0px 0;
}
.products .p-btn a{
	border:1px solid var(--secondary);
	padding:8px 36px;
	color:var(--secondary);
	background-color:var(--black);
	font-size:18px;
	transition:all 0.5s linear;
}
.products .p-btn a:hover {
	background-color:var(--white);
	color:var(--black);
}
/* product section end */
/* sales section starts */
.sales .s-con h2{
	font-size:60px;
	font-weight:700;
	padding:6px 0;
}
.sales .s-con p{
	font-size:18px;
	font-weight:300;
	line-height:28px;
}
.sales .s-country h3{
	font-size:30px;
	font-weight:700;
	color:var(--secondary);
	padding:6px 0;
}
.sales .s-country{
	padding:10px 0;
}
.sales .s-country ul{
	column-count:3;
}
.sales .s-country ul li{
	padding:10px 0;
	font-weight:700;
	font-size:18px;
}
.sales .s-country ul li::before{
	content:"\f105";
	font-family:fontAwesome;
	color: var(--black);
	font-size:12px;
	padding:0 8px 0 0;
}
.sales .s-btn{
	padding:10px 0;
}
.sales .s-btn a{
	padding:8px 36px;
	color:var(--white);
	background-color:var(--secondary);
	font-size:18px;
	transition:all 0.5s linear;
}
.sales .s-btn a:hover {
	background-color:var(--white);
	color:var(--black);
	border:1px solid var(--black);
}
.sales .s-img{
	padding:30px 0;
}
.sales .s-img img{
	display:block;
	max-width:100%;
	max-height: 100%;
}
/* sales section end */
/* deler section start */
 .dealer .row .con-left span{
	 font-size:120px;
	 font-weight:700;
	 color:var(--secondary);
	 position:relative;
 }
 .dealer .row .con-left span::before{
	 content:"More Than";
	 position:absolute;
	 font-size:40px;
	 font-weight:700;
	 color:var(--black);
 }
 .dealer .row .con-left .d-para .p-1{
	 font-size:40px;
	 font-weight:700;
 }
  .dealer .row .con-left .d-para .p-2{
	 font-size:40px;
	 font-weight:700;
 }
 .dealer .row .con-left {
	 background-image:url("../images/coffee-cup-1.png");
	 background-repeat:no-repeat;
	 background-position:right;
	 background-size:330px;
 }
.dealer .row .con-right h3{
	font-size:60px;
	font-weight:700;
	padding:0 0 10px 0;
}
.dealer .row .con-right p{
	font-size:18px;
	padding:10px 0 30px 0;
}
.dealer .row .con-right .d-btn a{
	margin-right:8px;
}
.dealer .row .con-right .d-btn .b-1{
	padding:8px 36px;
	color:var(--white);
	background-color:var(--black);
	font-size:18px;
	transition:all 0.5s linear;
}
.dealer .row .con-right .d-btn .b-1:hover {
	background-color:var(--white);
	color:var(--black);
	border:1px solid var(--black);
}
.dealer .row  .con-right .d-btn .b-2{
	padding:8px 36px;
	color:var(--white);
	background-color:var(--secondary);
	font-size:18px;
	transition:all 0.5s linear;
}
.dealer .row .con-right .d-btn .b-2:hover {
	background-color:var(--white);
	color:var(--black);
	border:1px solid var(--black);
}
/* deler section ends */
/* testimonial section start */
.testimonial{
	background-image:url("../images/test-bg.jpg")
}
.testimonial .t-con h2{
	font-size:60px;
	font-weight:700;
	color:var(--white);
	padding-bottom: 15px;
}
.testimonial .t-con h5{
	font-size:24px;
	font-weight:700;
	color:var(--secondary);
	margin-bottom: -24px;
}
.testimonial .t-con .t-sub .left-slider a i{
	color: var(--black);
	padding: 15px;
	background-color: var(--secondary);
}
.testimonial .t-con .t-sub .right-slider a i{
	color: var(--black);
	padding: 15px;
	background-color: var(--secondary);
}
.testimonial .t-sub .w-10{
	border:5px solid var(--secondary);
	padding:0 200px;
	margin:auto;
}
.testimnial .t-con .t-sub .w-1 .left-slider a i{
	background-color: var(--secondary);
	padding: 15px;
	cursor: pointer;
	transition:all 0.2s linear;
	color:white;
}
.testimonial .t-con .t-sub .w-1 .left-slider a i:hover{
		transform: scale(1.1);
		background-color: var(--white);
}
.testimnial .t-con .t-sub .w-1 .right-slider a i{
	background-color: var(--secondary);
	padding: 15px;
	cursor: pointer;
	transition:all 0.2s linear;
}
.testimonial .t-con .t-sub .w-1 .right-slider a i:hover{
	transform: scale(1.1);
	background-color: var(--white);
}
.testimonial .t-con .t-sub-con .ts-p1{
	font-size:24px;
	font-weight:600;
	color:var(--white);
	padding-top:50px;
}
.testimonial .t-con .t-sub-con .ts-p2{
	font-size:14px;
	font-weight:700s;
	color:var(--white);
	padding-bottom:50px;
}
.testimonial .t-con .t-sub-con .ts-p3{
	font-size:24px;
	font-weight:600;
	color:var(--white);
	padding:15px 0;
}
.testimonial .t-con .t-sub-con .ts-p4{
	color:var(--white);
	font-size:90px;	
}
/* testimonial section ends */
/* photo section start */
.photo{
	padding:60px 0 0px 0;
}
.photo .photos .row .w-2 img{
	display:block;
	width:100%;
	object-fit: contain;
	margin: auto;
}
/* photo section ends */
/* discount section start */

.discount .row {
	margin: 0 15px;
	background-color:#f6f6f6;
}
.discount .row .d-card-1{
	background-image:url("../images/discount-bg.png");
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
}
.discount .row .d-card-1 h4{
	font-size:24px;
	font-weight:700;
	color:var(--secondary);
}
.discount .row .d-card-1 h2{
	font-size:60px;
	font-weight:700;
	padding:20px 0 40px 0;
}
.discount .row .d-card-1 .disimg-1{
	display:block;
	margin: auto;
}
.discount .row .d-card-1 p{
	font-size:16px;
	padding:40px 16px;
}
.discount .row .d-card .disimg-2{
	display:block;
	width:100%;
}
.discount .row .d-card-1  a{
	padding:8px 36px;
	color:var(--white);
	background-color:var(--secondary);
	font-size:18px;
	transition:all 0.5s linear;
}
.discount .row .d-card-1  a:hover {
	background-color:transparent;
	border:1px solid black;
	color:var(--black);
}
/* discount section ends */
/* blog section starts */
.blog{
	padding:0 0 60px 0;
}
.blog .title{
	padding:60px 0 60px 0;
}
.blog .title p{
	font-size:24px;
	font-weight:700;
	color:var(--secondary);
	padding-bottom:16px;
	position: relative;
	z-index:1;
	margin-bottom: -36px;
}
.blog .title span{
	font-size:60px;
	font-weight:700;
	position:relative;
	z-index:0;
	color:var(--black);
}
.blog .title span::after{
	content:"Blogs";
	font-size:200px;
	font-weight:700;
	color:var(--grey);
	position:absolute;
	z-index:-1;
	top:-120px;
	left:-70px;	
}
.blog .b-card{
	padding:5px;
}
.blog .b-card .b-img img{
	display:block;
	max-width:100%;
	transition:all 0.5s linear;
}
.blog .b-card .b-img{
	overflow:hidden;
}
.blog .b-card .b-img img:hover{
	transform:scale(1.2);
}
.blog .b-card .b-con h3{
	padding:15px 0;
	font-size:36px;
	font-weight:700;
	color:var(--secondary);
}
.blog .b-card:hover h3{
	color:var(--black);
	transition: all 1s linear;
}
.blog .b-card .b-con .bp-1{
	padding:30px 0;
	font-size:18px;
}
.blog .b-card .b-con .b-sub{
	display:inline-block;
	width:100%;
	background-color:var(--lightblue);
	padding:5px;
}
.blog .b-card .b-con .b-sub .con-left{
	float:left;
}
.blog .b-card .b-con .b-sub .con-left li{
	display:inline-block;
	padding:5px;
}
.blog .b-card .b-con .b-sub .con-left .bs-1{
	font-size:48px;
	font-weight:700;
	color:var(--secondary);
}
.blog .b-card .b-con .b-sub .con-right{
	float:right;
	margin-top:20px;
}
.blog .b-card .b-con .b-sub .con-right  li{
	display:inline-block;
	font-size:14px;
	padding:5px;
}
.blog .b-btn{
	padding:40px 0 80px 0;
}
.blog .b-btn  a{
	padding:8px 36px;
	color:var(--secondary);
	background-color:var(--white);
	font-size:18px;
	transition:all 0.5s linear;
	border:1px solid var(--secondary);
}
.blog .b-btn  a:hover {
	background-color:var(--black);
	border:1px solid black;
	color:var(--white);
}
/*blog section ends */
/*footer section start */
footer{
	padding:80px 0;
	background-image: url("../images/footer_map.png");
	background-color: var(--darkgrey);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer-con{
	position: relative;
}
.f-sub{
	width:100%;
	position: absolute;
	top:-160px;
	background-color: var(--secondary);
	padding:20px;
	margin:0 auto;
}
.f-sub .f-sub1 h2{
	font-size: 36px;
	color: var(--white);
	font-weight: 600;
 }

.f-sub .f-sub1 span{
	color: var(--black);
}
.f-sub .email{
	text-align: center;
}
.f-sub .email input{
	padding: 18px;
	border: none;
	width: 350px;
	font-size: 18px;
	outline: none;
}
.f-sub .subscribe{
	border: 2px solid var(--black);
	background-color: var(--black);
	color: var(--white);
	padding:16px;
	font-weight: 600;
	font-size: 18px;
	transition:all 0.2s linear;
	margin-left: -5px;
}
.f-sub .subscribe:hover{
	background-color: var(--secondary);
	color: var(--black);
}
.f-sub .icons{
	margin:0 auto;
	text-align: center;
}
.f-sub .icons .icon{
	background-color: #d3c4a8;
	margin-right: 8px;
	padding: 10px 12px;
	font-size: 20px;
	cursor: pointer;
	transition:all 0.2s linear;
}

.f-sub .icon i:hover{
	transform: scale(1.1);
}

.f-main{
	padding: 100px 0px;
}
.f-card{
	padding:0 15px;
}
.f-card img{
	padding-bottom: 35px;
}

.f-card .disc{
	font-size: 16px;
	line-height: 25px;
	color: #797979;
	font-weight: 600;
	padding-bottom: 50px;
}

.f-card a{
	border: 2px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--black);
	padding: 8px 30px;
	font-weight: 600;
	font-size: 14px;
	transition: all 0.2s linear;
}

.f-card a:hover{
	background-color: var(--white);
	color: var(--black);
	border: 2px solid transparent;
}

.f-card .title{
	font-size: 30px;
	color: var(--secondary);
	font-weight: 600;
}

.f-card .sub-title{
	column-count: 2;
	line-height: 35px;
	font-size: 18px;
	font-weight: 600;
	padding-top: 60px;
	padding-left: 15px;
}

.f-card .sub-title li{
	position: relative;
	transition:all 0.2s linear;
	cursor:pointer;
	color: var(--white);
}

.f-card .sub-title li::before{
	content: "\f105";
	font-family: fontAwesome;
	position: absolute;
	font-size: 10px;
	top: 2px;
	left: -15px;
	color: var(--secondary);
}

.f-card .sub-title li:hover{
	color: var(--secondary);
}

.f-card ul li i{
	color: var(--secondary);
	padding-right: 15px;
}

.contact-data{
	padding-top: 30px;
	color: var(--white);
	line-height: 40px;
	font-size: 18px;
}
.top a{
	position: absolute;
	bottom: -10px;
	right: 20px;
	background-color: var(--secondary);
	padding: 10px 15px;
	color: var(--black);
	font-weight: 900;
	transition: all 0.2s linear;
}
.top a:hover{
	background-color: var(--white);
}

/* footer section ends */